In [9]:
import pandas as pd
df=pd.read_csv('KaggleV2-May-2016.csv')
df = df.sample(frac = 1) 
newdf=df.sample(frac=0.90)
newdf.to_csv('cleaned_appt_data.csv')

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
77275,9.167683e+13,5661345,F,2016-05-05T07:23:48Z,2016-05-06T00:00:00Z,77,BELA VISTA,0,1,1,0,0,0,No
30099,9.341878e+12,5726171,F,2016-05-20T13:14:00Z,2016-05-25T00:00:00Z,34,SANTA CECÍLIA,0,0,0,0,0,1,No
18741,4.344275e+13,5632086,F,2016-04-28T07:39:55Z,2016-05-11T00:00:00Z,34,FORTE SÃO JOÃO,0,0,0,0,0,0,Yes
83356,8.361898e+11,5605323,F,2016-04-20T08:51:45Z,2016-05-09T00:00:00Z,24,ITARARÉ,1,0,0,0,0,0,No
78040,2.968826e+09,5687874,F,2016-05-11T17:01:01Z,2016-05-17T00:00:00Z,46,SANTA MARTHA,0,0,0,0,0,0,No

In [8]:
newdf=df.sample(frac=0.90)
newdf.head()
newdf.to_csv('cleaned_appt_data.csv')